* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  line-height: 1.6;
}

.img-responsive {
  width: 100%;
  height: auto;
}

.block-center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

body {
  @media (min-width: 768px) {
    padding: 70px;
  }
}

header {
  position: relative;
}

.search {
  position: absolute;
  right:0;
  top:0;
}

$padding: 14px;

.padding-right {
  padding: $padding*2 $padding*2 $padding*2 0;
}

.padding-left {
  padding: $padding*2 0 $padding*2 $padding*2;
}

.padding-all {
  padding: $padding*2 $padding;
}

.padding-topbot {
  padding: $padding 0;
}

@media (max-width: 767px) {
  .padding-right, .padding-left, .padding-all, .padding-topbot {
    padding: 0;
  }
}

section {
  overflow: auto;
  padding-top: $padding*4;
  >hr {
    margin-top: $padding*4;
  }
}

.box-gd {
  background-color: lighten($color-blue, 35%);
  margin: $padding 0;
  padding: $padding*2;
  position: relative;
  img {
    position: absolute;
    right: 35px;
    top: 28px;
  }
}

.writer {
  align-items: center;
  display: flex;
  padding: $padding*2 0;
  &__img--small {
    border-radius: 50%;
    height: 49px;
    margin-right: $padding;
    width:49px;
  }
}

.arrow {
  box-shadow: 0 7px 14px 0 rgba(50, 50, 67, 0.7);
  float: right;
  font-size: 24px;
  font-weight: bold;
  line-height: 2;
  margin-bottom: 49px;
  overflow: hidden;
  text-align: center;
}

@media (max-width: 767px) {
  .logo-small {
    width: 50%;
    margin-top: 21px;
  }
  .list-inline{
    padding: 14px;
  }
}